@model List<Marathon_Registration.Models.UserModel>

<h1>Registered Participants</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Race Category</th>
            <th>T-Shirt Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registration in Model)
        {
                <tr>
                    <td>@registration.FirstName</td>
                    <td>@registration.LastName</td>
                    <td>@registration.DateOfBirth.ToShortDateString()</td>
                    <td>@registration.Gender</td>
                    <td>@registration.Email</td>
                    <td>@registration.Phone</td>
                    <td>@registration.RaceCategory</td>
                    <td>@registration.TShirtSize</td>
                </tr>
        }
    </tbody>
</table>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Return to Index</a>
</div>